* {
  margin: 0;
  padding: 0;
}

h1,
h3 {
  text-transform: uppercase;
  font-weight: normal;
}

.tabs {
  width: 4000px;
  display: block;
  margin: 40px auto;
  position: relative;
}

.tabs .tab {
  float: left;
  display: block;
}

.tabs .tab > input[type="radio"] {
  position: absolute;
}

.tabs .tab > label {
  /* border-radius: 40px; */
  display: block;
  padding: 20px 145px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #fff;
  background: #888888;
}

.tabs .content {
  z-index: 0; /* or display: none; */
  overflow: hidden;
  width: 1000px;
  padding: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
  /* background: #303030; */
  color: #dfdfdf;

  opacity: 0;
  transition: opacity 400ms ease-out;
}

.tabs > .tab > [id^="tab"]:checked + label {
  top: 0;
  /* border-radius: 40px; */
  background: #010000;
  color: #f5f5f5;
}

.tabs > .tab > [id^="tab"]:checked ~ [id^="tab-content"] {
  z-index: 1; /* or display: block; */

  opacity: 1;
  transition: opacity 400ms ease-out;
}
